<h3>Welcome stranger, you may sign up here -</h3>
<form method = "POST" action='/UserloginController/register_user'>
Username : <input type="text" name="username" placeholder ="Username" />
</br>
Password : <input type="password" name="password" placeholder= "Password" />
</br>
First Name : <input type="text" name="fname" placeholder= "First Name" />
</br>
Last Name : <input type="text" name="lname" placeholder= "Last Name" />
</br>
Address 1 : <input type="text" name="address1" placeholder= "Address 1" />
</br>
Address 2 : <input type="text" name="address2" placeholder= "Address 2" />
</br>
<b><input type="submit" value = "REGISTER" /></b>
</form>