body {
  font-family: Helvetica, sans-serif;
}
.img_size{
	height: 670px;
	width: 100%;
}
.head_nav{
	background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
}
.ftr_cls{
	background-color: black;
	color: white;
	height: 40px;
	width: 100%;
	padding: 10px;
}
.text{
	background-color: #09c;
	color: white;
}
#map{
	height: 500px;
	width: 100%;
	/*background-color: black;*/
}
#spell{
	height: 500px;
	width: 100%;
	/*background-color: black;*/
}
#mm{
	height: 200px;
	width: 200px;
}
#im1{
	height: 170px;
	width: 200px;
}
#quotes{
	height: 300px;
	width: 300px;
}
#cap1{
	height: 100px;
	width: 100px;
}
.pre-auth {
  display: none;
}
.post-auth {
  display: none;
}
#chart {
  width: 500px;
  height: 300px;
  margin-bottom: 1em;
}
#video-list {
  padding-left: 1em;
  list-style-type: none;
}
#video-list > li {
  cursor: pointer;
}
#video-list > li:hover {
  color: blue;
}

/* Table Content (Dictionary.html)*/
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}
.counter{
  padding:8px; 
  color:#ccc;
}